@mixin flexgrid() {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &.--row-reverse {
    flex-direction: row-reverse;
  }

  .grid-block {
    width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 800px) {
    // 2 columns
    &.--col2 .grid-block {
      width: 50%;
    }

    &.--checkered:not(.--half-background) .grid-block {
      flex: 1 50%;
      position: relative;

      &:nth-child(4n) {
        left: -50%;
      }

      &:nth-child(4n-1) {
        left: 50%;
      }
    }

    &.--checkered.--row-reverse:not(.--half-background) .grid-block {
      &:nth-child(4n) {
        left: 50%;
      }

      &:nth-child(4n-1) {
        left: -50%;
      }
    }
  }
}