<footer class="sticky-footer">
    <div class="wrap">
        <div class="sticky-footer__social">
            <a href="https://twitter.com/hellofromtonya"><i class="fa fa-twitter" aria-hidden="true"><span class="screen-reader-text">Follow me on twitter @hellofromtonya</span></i></a>
            <a href="https://github.com/hellofromtonya"><i class="fa fa-github-alt" aria-hidden="true"><span class="screen-reader-text">GitHub</span></i></a>
            <a href="https://www.linkedin.com/in/hellofromtonya"><i class="fa fa-linkedin" aria-hidden="true"><span class="screen-reader-text">Check me out on LinkedIn</span></i></a>
        </div>
        <nav id="sticky-footer__nav" class="sticky-footer__nav">
            <ul>
                <li>
                    <a href="#intro" class="sticky-footer__nav-item active">Intro</a>
                </li>
                <li>
                    <a href="#about" class="sticky-footer__nav-item">About</a>
                </li>
                <li>
                    <a href="#my-mission" class="sticky-footer__nav-item">My Mission</a>
                </li>
                <li>
                    <a href="#digital-learning" class="sticky-footer__nav-item">Education</a>
                </li>
                <li>
                    <a href="https://hellofromtonya.com/blog" class="sticky-footer__nav-item">Blog</a>
                </li>
                <li>
                    <a href="assets/TonyaMork-CV-Resume.pdf" class="sticky-footer__nav-item">My CV</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>