<ul>
    <li>
        <a href="<?php echo $site_url; ?>">
            <i class="fa fa-home" aria-hidden="true"><span class="screen-reader-text">Home</span></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/hellofromtonya">
            <i class="fa fa-twitter" aria-hidden="true"><span class="screen-reader-text">Follow me on twitter</span></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/hellofromtonya">
            <i class="fa fa-github-alt" aria-hidden="true"><span class="screen-reader-text">GitHub</span></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/hellofromtonya">
            <i class="fa fa-linkedin" aria-hidden="true"><span class="screen-reader-text">Check me out on LinkedIn</span></i>
        </a>
    </li>
    <li>
        <a href="https://codepen.io/hellofromtonya/">
            <i class="fa fa-codepen" aria-hidden="true"><span class="screen-reader-text">CodePen</span></i>
        </a>
    </li>
</ul>