.nav--hero {
  display: none;
}

@media screen and (min-width: $full-layout--screen) {
  .nav--hero {
    display: inline-block;
    position: absolute;
    bottom: -35px;
    left: 10vw;

    p {
      margin-left: -60px;
      font-family: $playfair;
      color: $darkBlue;
      font-size: 14px;
      margin-bottom: 0;
      text-align: left;
      position: relative;
    }

    ul {
      list-style: none;
      width: 100%;
      background-color: $darkBlue;
      padding: 10px 20px;
    }
  }
}

@media screen and (min-width: 1600px) {
  .nav--hero {
    left: 20%;
  }
}