.site--header {
  width: 100%;
  color: $white;

  @media screen and (min-width: $full-layout--screen) {
    z-index: 50;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .wrap {
    padding: 0;
  }
}